.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // First level
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // Mobile view
    @media (max-width: ($screen-lg - 1)) {

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // Desktop view
    @media (min-width: $screen-lg) {
      display: flex;
      flex-wrap: wrap;

      &--lvl-2 {
        display: block;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $gray-lightest;
    }

    &--lvl-2 {

      @media (min-width: $screen-lg) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {

      @media (min-width: $screen-lg) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $screen-lg) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover &,
        #{$block-name}__item:focs-within & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }

    &--lvl-3 {

      @media (min-width: $screen-lg) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover &,
        #{$block-name}__item--lvl-2:focus-within & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }
  }



  // Toggler
  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}
