mixin table(head, caption, mods)

  //- Param:
    mods {string}    - modifiers
    caption {string} - table caption
    head {array}     - table headings (should match number of columns)

  //- Use:
    +table(['Heading one', 'Heading two'])
      +caption
      +row
        +cell Content one
        +cell Content two

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-table--' + modsList[i].trim();
      }
    }

  .s-table(class=allMods)&attributes(attributes)
    table
      if head
        thead
          +row
            each column in head
              th=column

        block
      else
        block

mixin caption()
  caption&attributes(attributes)
    block

mixin row()
  tr&attributes(attributes)
    block

mixin cell()
  td&attributes(attributes)
    block