.s-promo {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002a36;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:
    linear-gradient(
      90deg,
      rgba(#000, 0.75) 0,
      rgba(#000, 0.75) 100%),
    url('../img/promo.jpg')
  ;
  z-index: 1;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(
      315deg,
      #06beb6,
      ease-in-out,
      #48b1bf
    );
    opacity: 0.25;
    z-index: 2;
  }

  &__title {
    text-align: center;
    color: currentColor;
    line-height: 1.2em;
    font-size: 44px;
    z-index: 3;
    position: relative;

    @media (min-width: $screen-sm) {
      font-size: 56px;
    }
  }
}
