mixin section(title, mods)

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-section--' + modsList[i].trim();
      }
    }

  section.s-section(class=allMods)&attributes(attributes)
    .container
      h2.s-section__title #{title}
      if block
        block
