.s-section {
  padding: 4rem 0;
  background-color: $bg-color--default;

  &:nth-child(even) {
    background-color: $bg-color--lighter;
  }

  @media (min-width: $screen-sm) {
    padding: 6rem 0;
  }

  &__title {
    color: $color--accent;
    font-size: 30px;
    line-height: 1.2em;
    max-width: 25em;
    margin-top: 0;
    margin-bottom: 3rem;

    @media (min-width: $screen-sm) {
      font-size: 56px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    a {
      display: block;
      color: currentColor;
      font-weight: 700;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__covers {
    margin-top: 2rem;
  }

  &__cover {
    width: 100%;
    height: 300px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}