mixin date(input)

  //- Param:
    date - {string} date in YYYY-MM-DD format

  //- Use:
    +date('2018-07-18')

  - var date = new Date(input)
  - var months = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]

  time(datetime=JSON.parse(JSON.stringify(date)))&attributes(attributes)=date.getDate() + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()