mixin svg-icon(name, width, height)

  //- SVG icon to be used with SVG sprite

  //- Param
    name   - {string} name of icon without prefix
    width  - {integer} icon width
    height - {integer} icon height

  //- Usage:
    +svg-icon('twitter', 32, 32)

  svg(width=width height=height): use(xlink:href='#' + name)