.s-page-footer {
  background-color: #48b1bf;
  color: #fff;
  padding: 3rem;

  &__title {
    color: currentColor;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    margin: 0 0 2rem 0;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -1rem;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, 0.5);
    }
  }

  &__list {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 24px;
      padding: 0.25rem 0;
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.125rem;
      }

      a {
        color: currentColor;
        display: block;
        position: relative;
      }
    }
  }

  &__payments {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin: 0;
      padding: 0;
      margin-right: 1rem;
    }
  }

  &__copyright {
    font-size: 12px;
    color: rgba(#fff, 0.5);
    line-height: 20px;
    padding-top: 1rem;
  }
}