mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .row
        .col-12.col-lg-4
          h3.s-page-footer__title Информация
          ul.s-page-footer__list
            li: a(href='/') О нас
            li: a(href='/') Персонал
            li: a(href='/') Цены
            li: a(href='/') Отзывы
            li: a(href='/') Контакты
            li: a(href='/') Акции и скидки
        .col-12.col-lg-4
          h3.s-page-footer__title Контакты
          ul.s-page-footer__list
            li: address
              | ул. Латышских Стрелков, д.1, лит.А,
              br
              | Пр-т Большевиков, Ладожская
            li: a(href='tel:+78126706090') +7 (812) 670-60-90
            li Пн-Вс: 10.00-21.00
        .col-12.col-lg-4
          h3.s-page-footer__title Принимаем к оплате
          ul.s-page-footer__payments
            li
              img(src='img/master.svg', width='60px', height='50px')
            li
              img(src='img/visa.svg', width='90px', height='90px')
        .col-12
          .s-page-footer__copyright © 2019. Helenbirk.

