extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header

block content

  section.s-promo
    .container
      h1.s-promo__title Система дополнительной нематериальной мотивации  ваших значимых сотрудников  от центра Helen Birk Club

  +section('С заботой о вас и ваших сотрудниках')
    p Интенсивно развивающиеся компании используют массу способов повышения эффективности работы коллектива: от обучающих тренингов до системы поощрений для подъема морального настроя персонала.
    p При правильной стратегии управления денежное вознаграждение проигрывает нематериальным способам мотивации.
    p Прибавка к зарплате повышает усердие работника лишь на короткий период, а хорошо подобранные нематериальные бонусы действуют намного эффективнее:
    ul
      li держат команду в «тонусе» все время
      li мотивируют на достижение высоких результатов в работе
      li повышают лояльность к работодателю

    p Современные организации следят за трендами, внедряя их в свои системы мотивации. Здоровый образ жизни сегодня на пике актуальности, именно поэтому в корпоративной среде набирают популярность поощряющие сертификаты на косметологические и медицинские услуги.
    p Особенно эффективно такой способ стимулирует работу отделов продаж, где в основном работают женщины. Хороший внешний вид - залог верного успеха в новых свершениях!

  +section('Важность нематериальной мотивации для сотрудника')
    img(src='img/diag.jpeg', alt='/')

  +section('Давайте знакомиться')
    ul
      li Мы – медико-диагностический, многопрофильный Косметологический центр Helen Birk Club. Заботимся более чем о 8000 клиентах уже на протяжении 7 лет
      li Предоставляем широкий спектр самых современных услуг в сфере эстетики
      li Работаем в нескольких направлениях: дермато-косметология, трихология, остеопатия и диетология
      li Все методики эффективны и безопасны, поскольку основаны на медицинской базе
      li Все процедуры проходят строго по назначению и под контролем врача
      li К вашим услугам современные методики, золотые руки и деликатное отношение опытных и высококвалифицированных специалистов

  +section('Наши лицензии')
    .row
      .col-12.col-md-4
        img(src='img/certificate-1.jpeg', alt='/')
      .col-12.col-md-4
        img(src='img/certificate-2.jpeg', alt='/')
      .col-12.col-md-4
        img(src='img/certificate-3.jpeg', alt='/')

  +section('Косметологический центр Helen Birk Club предлагает варианты абонементов премиум-класса для особо значимых сотрудников')
    +table(['Наименование абонемента', 'Gold', 'Silver', 'Standart'])
      +row
        +cell Cтоимость абонемента, р.
        +cell 159 900
        +cell 132 200
        +cell 110 500
      +row
        +cell Количество процедур. шт.
        +cell 45
        +cell 33
        +cell 27
      +row
        +cell Посещения специалистов (диетолог, косметолог, трихолог, специалист по правильному образу жизни), шт.
        +cell 30
        +cell 22
        +cell 18
      +row
        +cell Диагностика
        +cell 15
        +cell 11
        +cell 9
      +row
        +cell Биохимический анализ крови
        +cell Включено
        +cell Включено
        +cell Включено
      +row
        +cell
          span.small-caps Smart
          |  карта
        +cell Включено
        +cell Включено
        +cell Включено

  +section('Косметологический центр Helen Birk Club предлагает абонементы для любимых сотрудников')
    +table()
      thead
        +row
          th(colspan='5', style='text-align: center;')
            | Абонемент
            span.small-caps “Light”
      +row
        +cell Стоимость абонемента
        +cell 50 000
        +cell 62 000
        +cell 75 000
        +cell 86 820
      +row
        +cell Кол-во процедур
        +cell 12
        +cell 15
        +cell 18
        +cell 21
      +row
        +cell Биохимимический анализ крови
        +cell Включено
        +cell Включено
        +cell Включено
        +cell Включено
      +row
        +cell Посещение специалистов
        +cell 8
        +cell 10
        +cell 12
        +cell 14
      +row
        +cell Диагностика, анализ параметров
        +cell 4
        +cell 5
        +cell 6
        +cell 7
      +row
        +cell
          span.small-caps Smart
          |  карта
        +cell Включено
        +cell Включено
        +cell Включено
        +cell Включено

  +section('Сертификаты на корпоративные мероприятия и дни рождения сотрудников')
    .s-section__covers
      .row
        .col-12.col-md-6
          .s-section__cover
            img(src='img/celebration-1.jpeg', alt='/')
          p именные сертификаты на каждого сотрудника компании по корпоративной цене на праздничные мероприятия, в качестве поощрения за достигнутые результаты
        .col-12.col-md-6
          .s-section__cover
            img(src='img/celebration-2.jpeg', alt='/')
          p именной единичный сертификат на день рождения сотрудника компании


  +section('Что входит в абонемент')
    p Заключая партнерский договор с клиникой эстетической косметологии широкого профиля, компания обретает универсальный инструмент мотивации даже самой большой команды. Каждый работник может выбрать приоритетные для себя услуги:
    .s-section__covers
      .row
        .col-12.col-md-4
          .s-section__cover
            img(src='img/in-1.png', alt='/')
          p уход за кожей лица: различные лифтинги, пилинги, чистка лица, кислородное омоложение
        .col-12.col-md-4
          .s-section__cover
            img(src='img/in-2.png', alt='/')
          p уход за волосами, кожей головы
        .col-12.col-md-4
          .s-section__cover
            img(src='img/in-3.jpeg', alt='/')
          p уход за телом: массажи, криолиполиз, миостимуляция, кавитация, прессотерапия, лимфодреннаж и многое другое

  +section('Процедуры по типу ухода')
    +table()
      thead
        +row
          th(style='text-align: center;')
            b.upper Дерматология
            span (уход за кожей лица)
          th(style='text-align: center;')
            b.upper Трихология
            span (уход за волосами и кожей головы)
          th(style='text-align: center;')
            b.upper Уход за телом
      +row
        +cell Карбоновый пилинг
        +cell Криотерапия
        +cell Висцеральный массаж живота
      +row
        +cell Криотерапия
        +cell Плазмолифтинг
        +cell RF-лифтинг тело
      +row
        +cell Плазмолифтинг
        +cell Газожидкостный пилинг
        +cell Криолиполиз
      +row
        +cell Атравматическая чистка лица (косметика CHRISTINA)
        +cell Вапоризация
        +cell Миостимуляция
      +row
        +cell Профиссеональный уход (косметика CHRISTINA) по типам кожи
        +cell Антисеборейная программа
        +cell Кавитация
      +row
        +cell Комплекс химических пилингов
        +cell Трихологический массаж головы
        +cell Прессотерапия
      +row
        +cell УЗЧ
        +cell Пилинг SISTEMA-4
        +cell Лечебно-оздоровительный массаж (остеопатия)
      +row
        +cell Электропорация
        +cell Электропорация
        +cell Лимфодренажный массаж
      +row
        +cell RF-лифтинг
        +cell Карбокситерапия
        +cell Микротоковая терапия
      +row
        +cell Ахатинотерапия
        +cell Хромотерапия
        +cell Карбокситерапия
      +row
        +cell Фонофорез
        +cell
        +cell Точечный энергетический китайский массаж
      +row
        +cell Феруловый пилинг
        +cell
        +cell НЛОК

      +row
        +cell Кислородная мезотерапия (Мезоджен)
        +cell
        +cell Плазмотерапия
      +row
        +cell Антикуперозные программы
        +cell
        +cell
      +row
        +cell Карбокситерапия ARAVIA
        +cell
        +cell
      +row
        +cell Пластический массаж лица
        +cell
        +cell

  +section('Преимущества абонементов косметологии для коллектива и работодателя')
    p Выгода сотрудника очевидна – цена каждой процедуры при индивидуальном обращении в косметологический кабинет 5000-8000 рублей, а от компании человек получает ее бесплатно.
    p Вместе с поощрением он получает:
    ul
      li ухоженный внешний вид, улучшение самочувствия
      li сильный стимул для получения новых бонусов
      li эмоциональный подъем, повышение собственной привлекательности
    p Компания выигрывает, покупая пакет услуг косметологии с большими скидками (одна процедура стоит около 1500 рублей), и легче достигает своих целей:
    ul
      li увеличение прибыли организации
      li создание здоровой конкурентной среды в коллективе, раскрытие потенциала сотрудников
      li повышение лояльности персонала, привлечение более квалифицированных кадров

    p Повысить мотивацию имеющихся сотрудников намного выгоднее, чем искать им замену. С системой премирования команды сертификатами на услуги косметологии вы сделаете свою команду сильной и красивой.

  +section('Уже готовы к сотрудничеству')
    .row
      .col-12.col-md-6
        p По вопросам приобретения абонементов и сотрудничества обращайтесь:
        p Руководитель по работе с корпоративными клиентами
        .s-section__contacts
          a(href='tel:+79646112138') тел. +7 964 611 21 38
          a(href='mailto:offer@helenbirk.ru') offer@helenbirk.ru
      .col-12.col-md-6
        img(src='img/hands.jpeg', alt='/')

block footer
  +page-footer()