$hamburger-width:         40px;
$hamburger-height:        40px;
$hamburger-radius:        $hamburger-width / 2;
$hamburger-color:         currentColor;

.s-hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  position: relative;
  cursor: pointer;

  span {
    display: inline-block;
    width: $hamburger-width / 2;
    height: 2px;
    background-color: $hamburger-color;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate3d(-50%,-20%,0);

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: $hamburger-width / 2;
      height: 2px;
      left: 0;
      background-color: inherit;
    }

    &::before {
      top: -0.25rem;
    }

    &::after {
      bottom: -0.25rem;
    }
  }
}